.form {
  margin-bottom: 1rem;
}
.form__field {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin: 0 1rem;
}
