body {
  background-color: #2a2a2a;
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 100rem;
}

.title{
  color:#fff;
  text-align: center;
}

@media screen and (min-width:400px){
  body{
    background-color: #fff;
  }
  .title{
    color:#2a2a2a
  }
}
